<div class="grid-container" style="height: 100%;overflow-x:auto;">
  <div class="docs-primary-header">
    <h1 class="mat-h1"><i class="material-icons">dashboard</i> Dashboard</h1>
  </div>

  <div class="card-container">

    <div class="card" style="cursor: pointer !important;" (click)="route('/visor')">
      <div class="card-image" style="background-image: url('../../../assets/img/experiments.png');"></div>
      <div class="card-info" style="background: #515ea8;">
        <div class="card-title">
          <div style="text-align: start;width: 49%;display: inline-block;vertical-align: middle;"> Mascotas </div>
          <div style="text-align: end;width: 49%; display: inline-block;vertical-align: middle;">
            <mat-icon>pets</mat-icon>
          </div>
        </div>
        <div class="card-subtitle">
          Gestione y observe el estado de sus mascotas
        </div>
      </div>
    </div>

    <div class="cardnohover">
      <div class="card-image" style="background-image: url('../../../assets/img/recipe.png');"></div>
      <div class="card-info" style="background: #23b6c9;">
        <div class="card-title">
          <div style="text-align: start;width: 49%;display: inline-block;vertical-align: middle;"> Subscripcion </div>
          <div style="text-align: end;width: 49%; display: inline-block;vertical-align: middle;">
            <mat-icon>format_list_numbered</mat-icon>
          </div>
        </div>
        <div class="card-subtitle">
          Gestione su subscripcion.
        </div>
      </div>
    </div>
 

    <div class="cardnohover">
      <div class="card-image" style="background-image: url('../../../assets/img/cloudmessaging.png');text-align:end;">
      </div>
      <div class="card-info" style="background: #1e87da; ">
        <div class="card-title">
          <div style="text-align: start;width: 49%;display: inline-block;vertical-align: middle;"> Mensajería </div>
          <div style="text-align: end;width: 49%; display: inline-block;vertical-align: middle;">
            <mat-icon>send</mat-icon>
          </div>
        </div>
        <div class="card-subtitle">
          Agregue funciones de notificaciones en segundo plano (en desarrollo).
        </div>
      </div>
    </div>

  </div>
</div>